# Virtual environment
venv/

# Data
data/raw/
data/processed/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment variables
.env

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
